/****** Script for SelectTopNRows command from SSMS  ******/


Select * from (

SELECT  PT.DEFAULTLEDGERDIMENSIONDISPLAYVALUE as 'CC-Trade',ExternalItemNumber,[PURCHID],ITEMNUMBER,IT.NAMEALIAS,LINEDESCRIPTION,INVOICEACCOUNT,LINEAMOUNT,[INVOICEAMOUNT]--,[DEFINITIONGROUP]
      --,[EXECUTIONID]
      --,[ISSELECTED]
     -- ,[TRANSFERSTATUS]
      ,[ATTORNEYDATE_RU]
      ,[ATTORNEYID_RU]
      ,[ATTORNEYISSUEDNAME_RU]
      ,[BANKLCIMPORTLINE]
      ,[CASHDISC]
      ,[CASHDISCCODE]
      ,[CASHDISCDATE]
      ,[CASHDISCPERCENT]
      ,[CFDIUUID_MX]
      ,[CONSIGNEEACCOUNT_RU]
      ,[CONSIGNORACCOUNT_RU]
      ,[CONSTARGET_JP]
      ,[CONTRACTNUM_SA]
      ,[CORRECT_RU]
      ,[CORRECTEDINVOICEDATE_RU]
      ,[CORRECTEDINVOICEID_RU]
      ,[CORRECTIONTYPE_RU]
      ,[COSTLEDGERVOUCHER]
      ,[COUNTRYREGIONID]
      ,[CREATEDBY1]
      ,[CREATEDDATETIME1]
      ,[CURRENCYCODE]
      ,[DATAAREAID1]
      --,[DEFAULTDIMENSION]
      ,[DELIVERYADDRESS_LT]
      ,[DELIVERYDATE_ES]
      ,[DELIVERYNAME]
      ,[DELIVERYNAME_LT]
      ,[DELIVERYPOSTALADDRESS]
      ,[DESCRIPTION1]
      ,[DLVADDRESS_LV]
      ,[DLVMODE]
      ,[DLVTERM]
      ,[DOCUMENTDATE]
      ,[DOCUMENTNUM]
      ,[DOCUMENTORIGIN]
      ,[DUEDATE]
      ,[ENDDISC]
      ,[ENDDISCMST]
      ,[ENTERPRISENUMBER]
      ,[EUSALESLIST]
      ,[EXCHRATE]
      ,[EXCHRATESECONDARY]
      ,[FACTUREDFULLY_RU]
      ,[FISCALDOCUMENTTYPE_BR]
      ,[FIXEDDUEDATE]
      ,[INCLTAX]
      ,[INTERCOMPANYCOMPANYID]
      ,[INTERCOMPANYLEDGERVOUCHER]
      ,[INTERCOMPANYPOSTED]
      ,[INTERCOMPANYSALESID]
      ,[INTERNALINVOICEID]
      ,[INTRASTATADDVALUE_LV]
      ,[INTRASTATDISPATCH]
      ,[INTRASTATFULFILLMENTDATE_HU]
      ,[INVENTBAILEERECEIPTREPORTID_RU]
      ,[INVENTPROFILETYPE_RU]
      ,[INVOICEAMOUNTMST]
      ,[INVOICEDATE]
      ,[INVOICEID]
      ,[INVOICEROUNDOFF]
      ,[INVOICESERIES_MX]
      ,[INVOICETYPE]
      --,[ITEMBUYERGROUPID]
      ,[LANGUAGEID]
      ,[LEDGERVOUCHER]
      ,[LISTCODE]
      ,[LOGISTICSELECTRONICADDRESS]
      ,[MODIFIEDDATETIME1]
      ,[NONREALREVENUE_RU]
      ,[NUMBERSEQUENCECODE_LT]
      ,[NUMBERSEQUENCEGROUP]
      ,[OFFSESSIONID_RU]
      ,[OPERATIONTYPE_MX]
      ,[ORDERACCOUNT]
      ,[PARMID]
      ,[PARTITION1]
      ,[PAYMDAYID]
      ,[PAYMENT]
      ,[PAYMENTSCHED]
      ,[PAYMID]
      ,[POSTINGPROFILE]
      ,[PREPAYMENT]
      ,[PROFORMA]
      ,[PURCHAGREEMENTHEADER_PSN]
      ,[PURCHASETYPE]
      ,[PURCHRECEIPTDATE_W]
      ,[QTY]
      ,[REASONTABLEREF_BR]
      ,[RECID1]
      ,[RECVERSION1]
      ,[REMITTANCEADDRESS]
      ,[RETURNITEMNUM]
      ,[REVERSECHARGE_UK]
      ,[REVERSECHARGEAMOUNT]
      ,[SALESBALANCE]
      ,[SALESPURCHOPERATIONTYPE_BR]
      ,[SERVICECODEONDLVADDRESS_BR]
      ,[SOURCEDOCUMENTHEADER]
      ,[SOURCEDOCUMENTLINE]
      ,[STATEINVOICEPRINTED_LV]
      ,[SUMLINEDISC]
      ,[SUMMARKUP]
      ,[SUMMARKUPMST]
      ,[SUMTAX]
      ,[TAXGROUP]
      ,[TAXINVOICEPURCHID]
      ,[TAXPRINTONINVOICE]
      ,[TAXROUNDOFF]
      ,[TAXSETOFFVOUCHER_IN]
      ,[TAXSPECIFYBYLINE]
      ,[TAXWITHHOLDAMOUNT_IN]
      ,[TRANSPORTATIONDOCUMENT]
      ,[TRIANGULATION]
      ,[UNITEDVATINVOICE_LT]
      ,[VATAMOUNT_IN]
      ,[VATNUM]
      ,[VATONPAYMENT_RU]
      ,[VENDCONSINVOICE_JP]
      ,[VENDFINALUSER_BR]
      ,[VENDGROUP]
      ,[VENDINVOICEDECLARATION_IS]
      ,[VENDINVOICEGROUP]
      ,[VENDORREQUESTEDWORKEREMAIL]
      ,[VENDPAYMENTGROUP]
      ,[VOLUME]
      ,[WEIGHT]
      ,[WHOISAUTHOR_LT]
      --,[PARTITION]
      --,[DATAAREAID]
      --,[SYNCSTARTDATETIME]
      ,[xVendInvoiceJourStaging].[RECID]
	  ,ROW_NUMBER() OVER(PARTITION BY [xVendInvoiceJourStaging].RECID ORDER BY [xVendInvoiceJourStaging].RECID) duplicateCounter
  FROM [dbo].[xVendInvoiceJourStaging]
  left join PurchPurchaseOrderLineStaging PT on PT.PURCHASEORDERNUMBER = xVendInvoiceJourStaging.PURCHID
  left join INVENTTABLE IT on IT.ITEMID = PT.ITEMNUMBER

  where invoicedate between '2/1/2018' and '2-28-2018'

  ) a where a.duplicateCounter = 1
