/****** Script for SelectTopNRows command from SSMS  ******/
SELECT Sum([BUDGETACCOUNTINGCURRENCYAMOUNT]) Amount
	  ,Concat(DAVC.COSTCENTERVALUE,[Profit and Loss Grouping],Month(FPDW.GREGORIANDATE)) BudgetKey
  FROM [AxDB].[dbo].[BUDGETACTIVITYENTITY]
  INNER JOIN AxDB.dbo.MAINACCOUNT MA on MA.RECID = [AxDB].[dbo].[BUDGETACTIVITYENTITY].MAINACCOUNTRECID
  INNER JOIN AxDB.dbo.DIMENSIONATTRIBUTEVALUECOMBINATION DAVC ON DAVC.RECID = [AxDB].[dbo].[BUDGETACTIVITYENTITY].LEDGERDIMENSION
  INNER JOIN AxDB.dbo.DIRPARTYTABLE DPT ON DPT.RECID = DAVC.COSTCENTER
  INNER JOIN AxDB.dbo.FISCALPERIODDATEVIEW FPDW on FPDW.LEDGERGREGORIANDATEID = [AxDB].[dbo].[BUDGETACTIVITYENTITY].LEDGERGREGORIANDATEID
  Left Join FM_OPERATIONS.dbo.MainAccountMap MAM on MAM.[Main account] = MA.MAINACCOUNTID
  

  where FPDW.GREGORIANDATE between '7-1-2017' and '3-31-2018'
  Group by Concat(DAVC.COSTCENTERVALUE,[Profit and Loss Grouping],Month(FPDW.GREGORIANDATE))
  order by Concat(DAVC.COSTCENTERVALUE,[Profit and Loss Grouping],Month(FPDW.GREGORIANDATE))
