/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [PSA Notes]
      ,[LTSG]
      ,[IS_ABR]
      ,[Sector]
      ,[Trade]
      ,[Item_Description]
      ,[ledgeraccount]
      ,[benchmarking]
      ,[pnlgrouping]
      ,[Service_Supplies_Labor_Depreciation]
      ,[SUBLEDGERVOUCHER]
      ,[PURCHID]
      ,[Service_ref]
      ,[Vendor_Name]
      ,[Labor_Type]
      ,[Accountingdate]
      ,[TEXT]
      ,[Month]
      ,[Year]
      ,[Main_Account]
      ,[Cost_Center]
      ,Case when Minstry = 'Wheaton'  then [Amount]*12/7.5
	        when Minstry = 'Crittenton' then [Amount]*12/9
			when Minstry = 'Amsterdam' then [Amount]*12/0.5
			else Amount
			end as 'Amount'				  
	  ,[Minstry]
      ,[Ministry Grouping]
      ,[Regional Director]
      ,[AVP]
      ,[aduplicatecounter]
      ,[idlocation]
      ,[location]
      ,[Is Main Hospital?]
  FROM [FM_OPERATIONS].[dbo].[FY17GLDEV]
