/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Contract ID]
      ,[System Name]
      ,[Contact ID]
      ,[VENDOR ID]
      ,[START DATE]
      ,[END DATE]
      ,[Notification_Date]
      ,[HARD COPY?]
      ,[Hard Copy Type]
      ,[Sector PO Codes]
      ,[Updated Sector]
      ,[Cancellation Terms]
      ,[Auto renewal]
      ,[Contract Status]
      ,[Total Contract Amount]
      ,[Renewal Term - Yrs]
      ,[Evergreen]
      ,[Original Contract ID]
      ,[Entered Date]
      ,[Early Termination]
      ,[PO Link]
      ,[SSMA_TimeStamp]
      ,[Num_Days]
      ,[Cancellation Date]
      ,[PO Number]
  FROM [FM_CONTRACTS].[dbo].[Master Contract Table]
  where [END DATE] > GETDATE()